body {
  font-family: system-ui, sans-serif;
  background-image: url("https://nckugs.github.io/Web4CodePen/images/food-bg.jpg");
  background-size: 10% 10%
  color: white;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
